/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #8ac8ff8f #070d12;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #8ac8ff37;
    border-radius: 20px;

  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #8ac8ff8f;
    border-radius: 20px;
  }